section.filters {
    display: flex;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}
.buttonsearch {
    position: absolute;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    right: 30px;
    cursor: pointer;
}
.buttonsearch:hover {
    opacity: .9;
}

div.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 40px;
    text-align: justify;
    vertical-align: middle;
}

div.amenities {
    height: 100%;
    width: 25%;
    margin-left: 40px;
    vertical-align: middle;
}

h3 {
    font-weight: 600;
    margin-bottom: 0px;
   }

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

.popover{
    position: relative;
    width: 100%;
    left: -16%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-top: 10%;
    padding-bottom: 11%;
    padding-left: 15.8%;
    list-style: none;
    display: none;
    margin-top: 19px;
    max-height: 300px;
    overflow-y: scroll;
}

h2 {
    font-size: 16px;
    margin-left: -8px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.jump {
    margin-top: 20px;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}

ul {
    line-height: 18pt;
}