<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" />
        <title>HBnB</title>
    </head>
    <body>
        <header>
            <div class="logo">
            </div>
        </header>
        <div class="container">
            <section class="filters">
                <button class="buttonsearch">
                    Search
                </button>
                <div class="locations">
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% for i in states.values()|sort(attribute="name") %}
                        <li><h2>{{ i.name }}</h2>
                            <ul>
                                {% for city in i.cities|sort(attribute="name") %}
                                    <li>{{ city.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% for i in amenity.values()|sort(attribute="name") %}
                            <li>{{ i.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>

        <footer>
            <p class="footext">Holberton School</p>
        </footer>
    </body>
</html>
