<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="utf-8">
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if id == None %}
            <H1>States</H1>
            <UL>
                {% for i in states.values()|sort(attribute="name") %}
                    <LI>{{ i.id }}: <B>{{ i.name }}</B></LI>
                {% endfor %}
            </UL>
        {% else  %}
            {% if id == states.id %}
                <H1>State: {{ states.name }}</H1>
                <H3>Cities:</H3>
                <UL>
                    {% for city in states.cities|sort(attribute="name") %}
                        <LI>{{ city.id}}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                </UL>
            {% else %}
                <H1>Not found!</H1>
            {% endif %}
        {% endif %}
    </BODY>
</HTML>
